/* Centering all */
body {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: auto;
  min-height: 100vh;
}
/* This forces the footer to go to the bottom of the page */
.main-content {
  flex: 1;
}

/* removing  some default properties*/
ul {
  padding: 0;
}
header ul li {
  list-style-type: none;
}

@media (min-width: 750px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header ul {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
}
